# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
.env
*.env

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Node / Extension
# ===============================
node_modules/
dist/
build/

# ===============================
# Database / Data
# ===============================
*.sqlite3

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
